@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  --background-color: #131314;
  --surface-color: #1e1f20;
  --text-primary: #e3e3e3;
  --text-secondary: #a8a8a8;
  --accent-color: #4b90ff;
  --hover-color: #333537;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  background-color: var(--background-color);
  color: var(--text-primary);
  animation: fadeIn 1.0s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}